services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - .env
    environment:
      # config for Nuxt
      - NUXT_AWS_BUCKET=flower
      # config for AWS SDK
      - AWS_ACCESS_KEY_ID=minioadmin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - AWS_REGION=auto
      - AWS_ENDPOINT_URL_S3=http://minio:9000
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    entrypoint:
      [
        "/bin/sh",
        "-c",
        "mkdir -p /data/flower && minio server /data --console-address ':9001'",
      ]
